.h2spec{background-color: #41474a; 
    color:#f2f0ec;
    text-align: center;
    font-size:20px; 
    font-family: "Times New Roman", Times, serif;
    margin: -10px -8px 10px -8px;
    padding: 10px 15px 10px 35px;
    border: 0px solid #81847d;
    border-radius: 3.5px;}

.pspec{text-align:center;
   background-color:  #41474a;  
   color:#f2f0ec;
   font-family: "Times New Roman", Times, serif;
   margin-top:-18px;
   margin-bottom: 20px;
   margin-right:-7px;
   margin-left:-10px;
   padding-top: 0px;
   padding-bottom:2.5px;
   }

.logospecs{background-color: #242223; 
       margin: -10px -8px 10px -8px;
       border: 5px solid #81847d;
       border-radius: 3.5px;
       padding: 2.5px 10px 2.5px 10px;
       font-family: "Times New Roman", Times, serif;}

.logospecs a{color:#f2f0ec; 
          text-decoration: none;}

.wallcolor{background-color: #b9c1b9; font-family: "Times New Roman", Times, serif;}

.navbar{background-color: #41474a; 
        font-size:20px; 
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        margin: -10px -8px 10px -8px;
        border: 5px ;
        padding: 0px;
        border-bottom: 5px solid #81847d;
        border-left: 5px solid #81847d;
        border-right: 5px solid #81847d;
        border-top: 5px solid #81847d;
        border-radius: 3.5px;
        width: auto;
        height: auto;
        }

.navbar ul{list-style-type:none;
        position: relative;
        display: flex;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));} 

.navbar ul li{display: inline;} 

.navbar ul li a{text-decoration:none; 
      color:#f2f0ec;}

.wrapperitem{width:350px;
         height: 450px;
         border:5px solid #81847d;
         border-radius:12px;
         margin-left:20px;
         background-color: #41474a; 
        }

.imgspecs{display:flex;
      margin-left: auto;
      margin-right:auto;
      margin-top: 15px;
      }
        
.itemheader{color:#f2f0ec;
        text-align: center;
        }

.itembutton{color:#f2f0ec;
        text-align: center;
        }

.itembutton a, button{text-decoration:none;
          background-color: #b9c1b9;
          color:#f2f0ec;
          border-color: #81847d;
          border-radius:5px;
          font-size: 15px;
          font-family: "Times New Roman", Times, serif;
          padding:5px;}

.align{ width:100%;
    height:1440px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    }

.alignitems{display:flex;
        margin-bottom:20px;     
        justify-content: center;
}

.h31{text-align:center;
        background-color: #41474a;
        color:#f2f0ec;
        margin: -10px -8px -29px -8px;
        font-family: "Times New Roman", Times, serif;
    }
    
    .h31 h3{padding-top:15px;

    }

    .certified{display: flex;
               justify-content: center;
               background-color: #41474a;
               padding-top: 25px;
    }

    .hlogo{width:250px;
           height: 250px;
           align-items: center;
           text-align: center;
    }
    
    .hlogo img{border-radius:500px;
                width: 100px;
                height:100px;
                margin:auto;
                display:flex;
                }
                
.footerouterspecs{background-color:#242223; 
        color: #f2f0ec;
        padding: 5px 2.5px 5px 2.5px;
        margin: 10px -8px -10px -8px;
}

.footerouterspecs h3{display: flex;
 justify-content: center;
 padding-top: 5px;}

.footercontent{display: flex;
     justify-content: center;
}

.footercontent a{text-decoration: none;
        color: #f2f0ec;}

.medialogo{width:110px;
 height: 150px;
 align-items: center;
 text-align: center;
}

.medialogo img{border-radius:480px;
     width: 100px;
     height:100px;
     margin:0px;
     display:flex;
  }

.country{ display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
padding: 0px;
width:50%;
}


.payment{ display:flex;
justify-content: center;
align-items: center;
width:50%;
}

.payment img{border-radius:480px;
     width: 30px;
     height:30px;
     margin:0px;
     justify-content: center;
     align-items: center;
}

.outer{justify-content:center;
width:100%;
margin:auto;
display: flex;}

.aligncontent{ width:35%;
        height:600px;
        margin-top:30px;
        margin-left: 470px;
        padding: 20px;
        border:8px solid #41474a;
        border-radius:12px;
        text-align: center;
        background-color:#a29a9d;
        color:#f2f0ec;}

.boxadj{margin:0px;}

.loginspec{font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        padding:0px;}

.loginspec h4{font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        padding:0px;
        margin-top:15px;
        margin-bottom: 15px;
        margin-right: 80px;
       }

.loginspec1 h4{font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        padding:0px;
        margin-top:15px;
        margin-bottom: 15px;
        margin-right: 130px;
       }

.fillingform input{margin-top:-10px;
            padding:20px;
            border-radius: 12px;
            width:50%;
            height: 0px;;
            }

.removeline a{text-decoration: none;}

.press button{margin:15px;
          height:45px;
          width:40%;
          border-radius: 0px;
          background-color: #554853;
          font-size: 15px;
}

.pressn1 button {margin:15px;
          width:42%;
          height:45px;
          border-radius: 0px;
          background-color: #554853;
          font-size: 15px;
          
          
}

.iconsize{width:30px;
      height:30px;}

.sameline{justify-content: center;
      height:auto;
      }

.searchspecs1{background-color:  #f2f0ec; 
        color:#242223;
        border-radius:7.5px;
        padding: 5px 2.5px 5px 2.5px;
        margin-left:20px}

.searchspecs2{padding: 5px 2.5px 5px 2.5px;
        background-color: #41474a;
        color:#f2f0ec;
        border: 2.5px solid #81847d;
        border-radius:5px;
        font-size: 15px;
        font-family: "Times New Roman", Times, serif;
        }

@media(max-width:992px){
        .navbar{
        overflow-x: scroll;
        display:flex;
        }
}